<!--<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tab 1" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tab 2" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tab 3" tabIcon="cog"></ion-tab>
</ion-tabs>-->

<!--<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tab 1" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tab 2" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tab 3" tabIcon="cog"></ion-tab>
</ion-tabs>-->

<ion-navbar *navbar>
  <ion-title>Meine Kurse</ion-title>
  <ion-buttons end>
    <button (click)="addCourse()">
      <ion-icon name="create" item-left></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item-divider light *ngIf="(fitness.mycourses?.length - waitListCount(fitness.mycourses))>0">TEILGENOMMEN</ion-item-divider>
    <div *ngFor="#course of fitness.mycourses">
      <button *ngIf="!isOnWaitList(course)" ion-item (click)="onNavigate(course)">
    <ion-icon [name]="fitness.getIcon(course.category)" item-left></ion-icon>
    <h2>{{course.title}}</h2>
    <h3>{{course.difficulty}}</h3>
    <p>{{course.location}}</p>
    <ion-badge open item-right>{{course.participants.length}}/{{course.maxParticipants}}</ion-badge>
  </button>
    </div>
    <ion-item-divider *ngIf="waitListCount(fitness.mycourses)" light>AUF WARTELISTE</ion-item-divider>
    <div *ngFor="#course of fitness.mycourses">
      <button *ngIf="isOnWaitList(course)" ion-item (click)="onNavigate(course)">
    <ion-icon [name]="fitness.getIcon(course.category)" item-left></ion-icon>
    <h2>{{course.title}}</h2>
    <h3>{{course.difficulty}}</h3>
    <p>{{course.location}}</p>
    <ion-badge open item-right>{{course.participants.length}}/{{course.maxParticipants}}</ion-badge>
  </button>
    </div>
    <ion-item-divider light>MEINE ANGEBOTE</ion-item-divider>
    <button *ngFor="#course of fitness.hostedcourses" ion-item (click)="onNavigate(course)">
    <ion-icon [name]="fitness.getIcon(course.category)" item-left></ion-icon>
    <h2>{{course.title}}</h2>
    <h3>{{course.difficulty}}</h3>
    <p>{{course.location}}</p>
    <ion-badge open item-right>{{course.participants?.length}}/{{course.maxParticipants}}</ion-badge>
  </button>
  </ion-list>
</ion-content>